.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 50%, 0.091);
    margin-top: 10%;
    justify-content: center;
    margin-left: 35%;
    padding: 20px;
    width: 400px; /* Adjust the width as needed */
    height: 300px; /* Set the desired height */
    /* Optional padding for spacing */
    border-radius: 8px; /* Optional rounded corners */
}
.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}
